<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}Password Reset page{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row center-content">
        <div class="form-group">
            <form method="POST" id="reset-password">
                <p>Please enter your email address</p>

                {% csrf_token %}
                {{ form.email.errors }}
                <div>
                <p>
                    <label for="id_email" class="control-label required-field" >Email address:</label>  <!--The id_email will attach the existing email to the text of Email address.-->
                    {{ form.email }}
                    <button type="submit" class="btn btn-success bronze">Reset Password</button>
                </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
