<!DOCTYPE html>
{% extends 'base.html' %}  <!--take the data from the base.html file--> 
{% load bootstrap_tags %}
{% load staticfiles %}
{% block content %}

<div id="carouselExampleFade" class=" slide carousel-fade slide-sizing d-none d-md-block" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'css/img/antique.png' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5 class="inner_textbox-sizing">All items you never thought to see again, are here on Historebay!</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'css/img/study.png' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5 class="inner_textbox-sizing">Find your vintage favourites in our broad selection.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'css/img/livingroom.png' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
        <h5 class="inner_textbox-sizing">Your safe haven for all lost and regained antiques.</h5>
      </div>
    </div>
  </div>
</div>
<h5 class="welcome_note">Welcome to Historebay. The safe haven for all your favourite antiques!</h5>
<nav>
    {% if products.has_other_pages %}
    <ul class="pagination">
        {% if products.has_previous %}
            <li><a class="slateGrey page_hover_shade page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="disabled page-link"><span>Previous</span></li>
        {% endif %}
        {% for i in products.paginator.page_range %}
            {% if products.number == i %}
                <li class="active page-link"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a class="slateGrey page_hover_shade page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <li><a class="slateGrey page_hover_shade page-link" href="?page={{ products.next_page_number }}">Next</a></li>
        {% else %}
            <li class="disabled page-link"><span>Next</span></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>

<div class="container-fluid">
<div class="">
    <div class="">
        <div class="row row-flex">
        {% for product in products %}
            <div class="col-lg-4 d-fill"> <!--Different column sizes for different screen sizes.-->
            <div class="card h-100">
                <div class="card-body flex-fill">
                
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"> <!--By making a background image, it can fit the size of the  
                                                                                                            <div> that it is in so that different sized images for different products 
                                                                                                            won't end up looking mismatched in terms of size and shape.
                                                                                                            Add a media context_processor in the setting.py file (cause there is media!).-->
                    </div>
                    <div class="testing">
                    <h3>{{ product.name }}</h3>
                    <p class="product-description">{{ product.description|linebreaks }}</p>
                    <p>Availability: {{ product.availability }}</p>
                    <p>€ {{ product.price }}</p>
                    <a href="{% url 'productDetails' product.id %}" class="btn btn-success bronze" role="button"><span><i class="#" aria-hidden="true"></i></span>Details</a>

                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Add Quantity"/>
                            <span class="input-group-btn add-btn-align">
                                <button class="btn btn-info pistachio" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            </div>    
        {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}