
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

* {
    font-family: 'Domine', serif;
}


/* --- nav-bar styling --- */

.nav_font_size {
    font-size: large;
}

.bg-color {
    background-color:  #566573;
}

body {
    color: #566573;
    margin-top: 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: #F0EDE0;
}

a:hover {
    color: #00070F;
}

.btn-secondary {
    background-color: #566573;
    border-color: #566573;
    color: #F0EDE0
}

.btn-secondary:hover, .btn-secondary:focus, .show>.btn-secondary.dropdown-toggle, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active {
    color: #00070F;
    transition: color .5s;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:focus, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #566573;
    border-color: #566573; 
    box-shadow: none;
}

.show>.btn-secondary.dropdown-toggle, .btn-secondary:focus, .show>.btn-secondary.dropdown-toggle:focus, .show>.btn-secondary.dropdown-toggle:focus, .show>.btn-secondary.dropdown-toggle:focus-within
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    border-color: #566573;
    box-shadow: none !important;
    transition: color .5s;
}

.logo_resize {
    width: 23%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.badge-warning {
    background-color: #a6b70b;
    padding-left: 3px;
    padding-right: 3px;
    /* -webkit-border-raduis: 2px;
    -moz-border-raduis: 2px;
    -o-border-raduis: 2px; */
    border-radius: 20px;
}

.cart_size {
    margin-right: 1rem; 
    font-size: x-large;
}

.radius_search-btn {
    border-radius: 5px;
}
.radius_search-btn:hover {
    background-color: #d8d6cf;
}

a:hover {
    text-decoration: none;
}

.fixed-top {
    padding: 20px;
}

.fa-shopping-cart {
    margin-right: 0.15rem;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 1050;
}

.navbar-light .navbar-brand {
    color: #F0EDE0;
}

.ivory_text {
    color: #F0EDE0;
}

/* --- carousel styling --- */

.inner_textbox-sizing {
    margin: 10rem;
    text-align: center;
    background-color: rgba(254, 255, 242, 0.80);
    padding: 20px;
    color: #566573;
    font-size: x-large;
    font-weight: 500;
    border-radius: 1rem;
}
.slide-sizing {
    margin-top: -13px;
    margin-bottom: 12px;
}

.carousel-caption {
    position: absolute;
    right: 20%;
    bottom: 20px;
    left: 20%;
    z-index: 10;
    text-align: center;
}

/* --- body styling --- */

.btn-success, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled):active, .btn-success:hover, .btn-success:focus {
    color: #F0EDE0;
    border-color: #b7860b;
    background-color: #9b7108;
    margin-bottom: 1.5rem;
}

.btn-success:hover {
    color: #00070F;
}

.btn-info, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled):active, .btn-info:hover, .btn-info:focus {
    color: #F0EDE0;
    border-color: #92a10a;
    background-color: #889608;
}

.btn-info:hover {
    color: #00070F;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:hover, .btn-primary:focus {
    color: #F0EDE0;
    border-color: #B7950B;
    background-color: #a7870b;
}

.btn-primary:hover {
    color: #00070F;
}

.form-control:focus {
    border-color: #F0EDE0;
    box-shadow: 0 0 0 0.2rem rgba(86, 101, 115, 0.25)
}

.page_hover_shade {
    color: #B7950B !important;
    transition: background-color .35s;
}

.page-link {
    padding: .5rem .75rem;
    line-height: 1;
    color: #00070F;
    border-radius: 15px;
    border: 2px solid #dee2e6;
}

.pagination {
    margin-left: 10px;
    padding: .5rem;
    margin-top: 1.5rem;
}

.page-link:hover {
    color: #566573;
    background-color: #d1d4d8;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(186, 192, 197, 0.25);
}

.row {
    margin: 0;
}

h3 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.input-group-prepend {
    margin: .5rem .5rem .5rem 0rem;
}

.alert-info {
    color: #566573;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
}

.icon-size {
    width: 50px;
}

.form-control {
    padding: .375rem .4rem;
}

.add-align {
    margin-left: 1rem;
}

/* --- footer styling --- */

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #F0EDE0;
    color: #F0EDE0;
    background-color: #566573;
}

.card {
    background-color: transparent;
    border: 0;
    margin: .5rem;
}

.fa-filler {
   color: #F0EDE0;
   margin: 10px;
   transition: color .5s;
}

.fa-filler:hover {
    color: #00070F;
}

.link_position {
    display: inline-block;
    padding: 0;
    color: #F0EDE0;
}

.grid_display {
    display: grid;
}

/* --- accounts views --- */

.profileName-align {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.profileLog-align {
    padding: 2rem;
}

.login-btn-align {
    margin-top: 1rem;
}

/* --- product/productDetails views --- */

.welcome_note {
    text-align: center;
    background-color: #F0EDE0;
    padding: 1rem;
}

.product {
    background-size: contain;
    background-position: center center; /* to make sure something is actuallly and really centered within a <div>*/
    background-repeat: no-repeat; /* for non-tiling of small images.*/
    width: 150px;
    height: 150px;
    margin: 0 auto; /* to center a <div> within the other <div>'s.*/
}


/* --- cart/checkout views --- */

.total-adjust-position {
    padding: .5rem;
    margin-left: 1.5rem;
}

.price-adjust-position {
    padding: .5rem;
}

.fa-eur {
    padding-right: .25rem;
}

.new-line-form {
    border-color: #566573;
}

.total-adjust-position-checkout {
    padding: .5rem;
    margin-left: 2rem;
}

.paymentfrom-align {
    margin: 1rem;
}

.position-checkout-btn {
    margin: 1.5rem;
    background-color: #e6b026;
    color: #00070F;
}

.position-checkout-btn:hover {
    color: #F0EDE0;
}

.submit-btn-align {
    margin-top: 2rem;
}

.remove_margin {
    margin: 0;
    width: 12.5rem;
}

.delete_btn_color_noChange {
    color: #00070F!important;
}

.delete_hover_ctrl:hover, .delete_hover_ctrl:focus, .delete_hover_ctrl:not(:disabled):not(.disabled):active, .delete_hover_ctrl:not(:disabled):not(.disabled):active {
    background-color: #d8d6cf;
}

.total_prize_style_checkout {
    background-color: #F0EDE0;
    padding-top: 1rem;
    width: 15rem;
    margin-left: 2%
}

.total_prize_style_cart {
    background-color: #F0EDE0;
    padding-top: 1rem;
    margin-left: 2%
}

.text-total-margin {
    margin-left: -.5rem;
}

/* --- contact_info views --- */

.address_table_sizing {
    display: table-caption;
    width: 9rem;
}

.center-block {
    transition: color .5s;
}

.contact-form-position {
    margin-bottom: .5rem;
}

/* --- additional styling --- */

caption p {  /* specifies the `p` in the class='caption' */
    word-wrap: break-word;  /*to prevent text-box overflow*/
}

.row-flex {
    /* display: flex; */
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    border-color: transparent;
}

.feature-align {
    text-align: center;
}

/* .card-body {
    height: 100%;
    padding: 15px;
    border: 1 px solid #ddd;
} */

.product-description {
    min-height: 40px;  /* statement of min-height for product description */
}

.ivory {
    background-color: #F0EDE0;
}

.gold {
    background-color: #B7950B;
}

.bronze {
    background-color: #b7860b;
}

.pistachio {
    background-color: #a6b70b;
}

.slateGrey {
    color: #566573;
}

a {
    transition: color .5s;
    color: #b7860b;
}

.input-align {
    margin-right: 1rem;
}

.center-content {
    justify-content: center;
    padding-top: 2rem;
}

.reset-pw-btn-resize, .reset-pw-btn-resize:hover, .reset-pw-btn-resize:focus, .reset-pw-btn-resize:not(:disabled):not(.disabled):active, .reset-pw-btn-resize:not(:disabled):not(.disabled):active {
    margin: 0;
    padding: .2rem .6rem;
}


/* --- screen type adjustments --- */

@media screen and (min-width: 1200px) {
    .nav_font_size {
        font-size: small;
    }
    .heb-logo {
        display: none;
    }
    .inner_textbox-sizing {
        margin: 8.5rem;
    }
    .welcome_note {
        display: none;
    }
}

@media screen and (min-width: 1549px) {
    .nav_font_size {
        font-size: medium;
    }
    .heb-logo-lg {
        margin-top: -2.5rem;
    }
}

@media screen and (min-width: 1800px) {
    .nav_font_size {
        font-size: large;
    }
}

@media screen and (max-width: 1199px) {
    .dropdown-toggle {
        padding-left: 0;
    }
    .heb-logo-hide {
        display: none;
    }
    .inner_textbox-sizing {
        display: none;
    }
    .slide-sizing {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 414px) {
    .heb-logo-sm {
        padding-top: .2rem;
        transform: none;
        width: 40%;
        left: 38%;
    }
}

@media screen and (max-width: 767px) {
    .pagination {
        margin-top: 2rem;
    }
    .welcome_note {
        margin-top: 5rem;
    }
    .alert-info {
        margin-top: 5rem;
        margin-bottom: -5rem;
    }
    .delete_btn_align {
        margin-left: 3.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .content-margin {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 768px) {
    .alert-info {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 1580px) {
    .carousel-caption {
        bottom: -20%;
    }
    .account-forms-align {
        margin-top: 5rem;
    }
    .heb-logo-lg {
        margin-top: -1.75rem;
    }
}