
@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

* {
    font-family: 'Domine', serif;
}


/* --- nav-bar styling --- */

.nav_font_size {
    font-size: large;
}

.bg-color {
    background-color:  #566573;
}

body {
    color: #566573;
    margin-top: 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: #F0EDE0;
}

.navbar-light .navbar-brand {
    color: #F0EDE0;
}

.ivory_text {
    color: #F0EDE0;
}

a:hover {
    color: #00070F;
}

.btn-secondary {
    background-color: #566573;
    border-color: #566573;
    color: #F0EDE0
}

.btn-secondary:hover, .btn-secondary:focus, .show>.btn-secondary.dropdown-toggle, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled):active {
    color: #00070F;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:focus, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #566573;
    border-color: #566573; 
    box-shadow: none;
}

.show>.btn-secondary.dropdown-toggle, .btn-secondary:focus, .show>.btn-secondary.dropdown-toggle:focus, .show>.btn-secondary.dropdown-toggle:focus, .show>.btn-secondary.dropdown-toggle:focus-within
.btn-secondary:not(:disabled):not(.disabled):active:focus {
    border-color: #566573;
    box-shadow: none !important;
}

.logo_resize {
    width: 30%;
}

.badge-warning {
    background-color: #a6b70b;
    padding-left: 2px;
    padding-right: 2px;
    -webkit-border-raduis: 7px;
    -moz-border-raduis: 7px;
    -o-border-raduis: 7px;
    border-radius: 7px;
}

.cart_size {
    margin-right: 1rem; 
    font-size: x-large;
}

.radius_search-btn {
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
}

/* --- body styling --- */

.btn-success, .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled):active, .btn-success:hover, .btn-success:focus {
    color: #00070F;
    border-color: #b7860b;
    background-color: #9b7108;
}

.btn-info, .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled):active, .btn-info:hover, .btn-info:focus {
    color: #00070F;
    border-color: #92a10a;
    background-color: #889608;
}

.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:hover, .btn-primary:focus {
    color: #00070F;
    border-color: #B7950B;
    background-color: #a7870b;
}

.page_hover_shade {
    color: #B7950B !important;
}

.page-link {
    padding: 1rem;
    color: #00070F;
}

/* --- footer styling --- */

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #F0EDE0;
    color: #F0EDE0;
    background-color: #566573;
}


/* --- mics styling --- */

.product {
    background-size: contain;
    background-position: center center; /* to make sure something is actuallly and really centered within a <div>*/
    background-repeat: no-repeat; /* for non-tiling of small images.*/
    width: 150px;
    height: 150px;
    margin: 0 auto; /* to center a <div> within the other <div>'s.*/
}

caption p {  /* specifies the `p` in the class='caption' */
    word-wrap: break-word;  /*to prevent text-box overflow*/
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1 px solid #ddd;
}

.product-description {
    min-height: 40px;  /* statement of min-height for product description */
}

.icon-size {
    width: 40px;
}

.ivory {
    background-color: #F0EDE0;
}

.gold {
    background-color: #B7950B;
}

.bronze {
    background-color: #b7860b;
}

.pistachio {
    background-color: #a6b70b;
}

.slateGrey {
    color: #566573;
}