<!DOCTYPE html>
{% extends 'base.html' %}  <!--take the data from the base.html file-->
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row row-flex content-margin">
        {% for item in cart_items %} <!--In cart_items (context.py file) -->
        <div class="col-lg-4 d-fill"> <!--Different column sizes for different screen sizes.-->
            <div class="card h-100">
                <div class="card-body flex-fill">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')" alt="product image"> <!--By making a background image, it can fit the size of the  
                                                                                                            <div> that it is in so that different sized images for different products 
                                                                                                            won't end up looking mismatched in terms of size and shape.
                                                                                                            Add a media context_processor in the setting.py file (cause there is media!).-->
                    </div>
                    <div class="caption">  <!--The caption-class is used to view data that must be shown right above a table. This can also be set through CSS.-->
                        <h3>{{ item.product.name }}</h3>  <!--Get from the class Product(products/models.py) the name for item(the for-loop at line 18).-->
                        <p class="product-description">{{ item.product.description }}</p>  <!--class "product-description" here is a css-thingy.-->
                        <p><strong>Total items:</strong> {{ item.quantity }}</p>
                        <p><strong>Price per item:</strong> € {{ item.product.price }}</p>  <!--Get from the class Product(products/models.py) the price for item(the for-loop at line 18).-->
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="row total_prize_style_checkout">  <!--To view the total costs of the purchasing items.-->
    <p class="total-adjust-position-checkout"><strong class="text-total-margin">Total price:</strong></p>
    <p class="price-adjust-position"><span><i class="fa fa-eur fa-sm" aria-hidden="true"></i></span>{{ total }}</p>
</div>
<hr class="new-line-form">
<form class="paymentfrom-align" role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">  <!--The url referes to the checkout function.-->
    <legend class="payment-legend-align">Payment Details</legend>  <!--The <legend> tag defines a caption for the <form> element.-->
    <!--A <div> created for credit card issues that might come back.-->
    <div id="credit-card-errors" style="display:none;">  <!--It's better to place the style of "display:none; into CSS.-->
        <div id="alert-message block-message error"></div>
        <div id="stripe-error-message"></div>  <!--If there is an error that comes back from Stripe, then display an error message.-->
    </div>
    <!--To place two forms side-by-side...-->
    <div class="form-group col-md-6">
        {{ order_form|as_bootstrap }}
    </div>
    <div class="form-group col-md-6">
        {{ payment_form|as_bootstrap }}
    </div>
    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-primary gold submit-btn-align" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %}

{% block head_js %}  <!--The head_js contains JS code that Stripe requires to be functional.-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">  /* For some possible own JS-ing, if needed */
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>  <!--Specific JS, written in a stripe.js file, in a js-folder, under the static-app.-->
{% endblock %}