{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row row-flex content-margin">
        {% for item in cart_items %}
        <div class="col-lg-4 d-fill">
            <div class="card h-100">
                <div class="flex-fill">
                    <div class="product" style="background-image: url('{{ item.product.get_image_data }}')">
                    </div>
                    <div class="caption">
                        <h3>{{ item.product.name }}</h3>
                        <p class="product-description">{{ item.product.description }}</p>
                        <p><strong>Total items:</strong> {{ item.quantity }}</p>
                        <p><strong>Price per item:</strong> € {{ item.product.price }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="row total_prize_style_checkout">
    <p class="total-adjust-position-checkout"><strong class="text-total-margin">Total price:</strong></p>
    <p class="price-adjust-position"><span><i class="fa fa-eur fa-sm" aria-hidden="true"></i></span>{{ total }}</p>
</div>
<hr class="new-line-form">
<form class="paymentfrom-align" role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
    <legend class="add-align">Payment Details</legend>
    <div class="form-group col-md-6">
        {{ order_form|as_bootstrap }}
        {{ payment_form|as_bootstrap }}
    </div>
    <div id="credit-card-errors" style="display:none;">
        <div id="alert-message block-message error"></div>
        <div id="stripe-error-message"></div>
    </div>
    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-primary gold submit-btn-align" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %}

{% block head_js %}

{% endblock %}