{% extends 'base.html' %}
{% load static from staticfiles %} 
{% load bootstrap_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row row-flex content-margin">
        {% for item in cart_items %}
        <div class="col-lg-4 d-fill">
            <div class="card h-100">
                <div class="card-body flex-fill">
                    <div class="product" style="background-image: url('{{ item.product.get_image_data }}')" alt="product image"></div>
                    <div class="caption">
                        <h3>{{ item.product.name }}</h3>
                            <p class="product-description">{{ item.product.description }}</p>
                            <p><strong>Price:</strong> € {{ item.product.price }}</p>
                        <div class="submit-btn-align">
                            <a href="{% url 'productDetails' item.product.id %}" class="btn btn-success bronze input-align" role="button"><span><i class="#" aria-hidden="true"></i></span>Details</a>
                            <a href="{% url 'delete_from_cart' item.product.id %}" class="btn btn-success ivory delete_btn_color_noChange delete_hover_ctrl add-align" role="button"><span><i class="fa fa-trash" aria-hidden="true"></i>Delete Item</span></a>
                            <p>
                                <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputAmount">New Qty</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">In cart:</div>
                                            <div class="input-group-prepend">{{ item.quantity }}</div>
                                            <input name="quantity" type="number" min="0" max="999" class="form-control input-align"/>
                                            <button type="submit" class="btn btn-primary gold"><span><i class="fa fa-pencil-square-o fa-sm" aria-hidden="true"></i></span>Adjust</button>
                                        </div>
                                    </div>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        {% endfor %} 
    </div>
</div>
<hr>
<div class="container remove_margin">
    <div class="row total_prize_style_cart">
        <p class="total-adjust-position"><strong class="text-total-margin">Total</strong></p>
        <p class="price-adjust-position"><span><i class="fa fa-eur fa-sm" aria-hidden="true"></i></span>{{ total }}</p>
    </div>
    <a href="{% url 'checkout' %}" class="btn btn-success bronze position-checkout-btn" role="button"><span><i class="fa fa-check-square-o fa-sm" aria-hidden="true"></i></span>Checkout</a>
</div>
{% endblock %}