<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
    <h3>About</h3>
    <p>Historebay will provide you the most unique and interesting items in the world!
    </p>
    <p>Apart from having a broad selection of antiques, we also prive you with your favorite and perhaps long lost collectible items.
    </p>
    <p>A little short on money, but still would like to have that one Monet painting? Historebay offers a wide selection of replica's.
    </p>
    <p>Historebay only deals with lisened deals and antiquarains.
    </p>
</div>
{% endblock %}