<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
<h3>Contact</h3>
<p>If you would like to receive any additional information regarding purchasing or futher information on our policies, you may reach out to us by using the following means of contact:
<div class="address_table_sizing">
Historebay.com
2147 Randall Drive
Honolulu
Hawaii
96815<br>
<i class="fa fa-phone" aria-hidden="true"></i> 
808-931-0249
</div>
</p>
</div>
{% endblock %}
